<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Ensure existing files are served
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all requests to index.html for SPA routing
  RewriteRule . /index.html [L]
</IfModule>
